@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&display=swap');
 

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

header {
    height: 100px;
    background-color: whitesmoke;
    

}


#logo {
    height: 100px;
    padding-left: 0px;
}
.headernav {
    margin-top: -10%;
}
.navlist {
    
    display: inline;
    color : black ; 
    float:  right ;
    padding-left: 5%;
margin-top: 3%;
}
.maindiv h2 {
    position: relative;
    float : right;
    padding-right: 100px;
    padding-top: 100px;
}
.maindiv p {
    position: relative;
    float : right ;

}
.secdiv {
    
display: inline;

}

#shopform {
    margin-top: 5%;
}
.footernav {
   display: inline-block;
}

.text {
    

    font-family: 'Itim', cursive;
    background-color: powderblue;
}
#shopform  {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    background-color: salmon;
}

#our-store {

    font-family: 'Encode Sans Semi Expanded', sans-serif;
    background-color: salmon;
}
main>img {
    padding-top: 5%;
}